@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kozud7');
  src:  url('fonts/icomoon.eot?kozud7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kozud7') format('truetype'),
    url('fonts/icomoon.woff?kozud7') format('woff'),
    url('fonts/icomoon.svg?kozud7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e932";
}
.icon-book-family:before {
  content: "\e92d";
}
.icon-vuido-courge:before {
  content: "\e92e";
}
.icon-qikai-read:before {
  content: "\e92f";
}
.icon-happy-family:before {
  content: "\e930";
}
.icon-highschool:before {
  content: "\e931";
}
.icon-like:before {
  content: "\e944";
}
.icon-woman:before {
  content: "\e939";
}
.icon-children:before {
  content: "\e93a";
}
.icon-fetus:before {
  content: "\e93b";
}
.icon-circle01:before {
  content: "\e93c";
}
.icon-qimeng:before {
  content: "\e93d";
}
.icon-mother-about:before {
  content: "\e93f";
}
.icon-classroom:before {
  content: "\e940";
}
.icon-fmaily01:before {
  content: "\e941";
}
.icon-fmaily02:before {
  content: "\e942";
}
.icon-baby:before {
  content: "\e943";
}
.icon-no-understand:before {
  content: "\e922";
}
.icon-overdue:before {
  content: "\e900";
}
.icon-school:before {
  content: "\e923";
}
.icon-selected:before {
  content: "\e901";
}
.icon-love-home:before {
  content: "\e902";
}
.icon-questionnaire:before {
  content: "\e924";
}
.icon-select:before {
  content: "\e903";
  color: #e2e2e2;
}
.icon-task-unfinish:before {
  content: "\e904";
}
.icon-sign-in:before {
  content: "\e905";
}
.icon-add-task:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e925";
}
.icon-data-down:before {
  content: "\e907";
}
.icon-data-up:before {
  content: "\e919";
}
.icon-time:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-people:before {
  content: "\e90b";
}
.icon-replace-role:before {
  content: "\e926";
}
.icon-sign:before {
  content: "\e927";
}
.icon-good:before {
  content: "\e90c";
}
.icon-history:before {
  content: "\e90d";
}
.icon-task:before {
  content: "\e90e";
}
.icon-cup .path1:before {
  content: "\e90f";
  color: rgb(255, 200, 0);
}
.icon-cup .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-cup .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 223, 0);
}
.icon-cup .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-cup .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 223, 0);
}
.icon-cup .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-cup .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(39, 38, 54);
}
.icon-cup .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 223, 0);
}
.icon-cup .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-cup .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 223, 0);
}
.icon-arrow:before {
  content: "\e908";
}
.icon-family-education:before {
  content: "\e91a";
}
.icon-add:before {
  content: "\e928";
}
.icon-record:before {
  content: "\e91b";
}
.icon-integral-exchange:before {
  content: "\e91c";
}
.icon-integral:before {
  content: "\e929";
}
.icon-active:before {
  content: "\e92a";
}
.icon-back-top:before {
  content: "\e92b";
}
.icon-success:before {
  content: "\e91d";
}
.icon-with-read:before {
  content: "\e92c";
}
.icon-read-report:before {
  content: "\e91e";
}
.icon-tick:before {
  content: "\e91f";
}
.icon-no:before {
  content: "\e920";
}
.icon-no-fill:before {
  content: "\e921";
}
.icon-safe:before {
  content: "\1f324";
}
